body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text], /* out of focus, znaci koga ne sme kliknake */
  input[type=text]:focus{ /* focus zanci koga ke klikneme na text fieldot */
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #423a6f;
  }
  .delete{
    cursor: pointer;
  }
  .isfiltrirani {
      display: none!important;
  }

  footer{
      background: crimson;
      margin-top: 259px;
      padding: 10px;
      color: whitesmoke;
      font-size: 0.9em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body > footer > p:nth-child(2){
      font-family: fantasy;
      font-size: 1.4em;
      text-shadow: 1px 1px black;
      
  }